@page "/afstuderen"

<div class="text-div">
    <h1>Afstudeerstage</h1>

    Ik ben al redelijk vroeg begonnen met het zoeken naar een afstudeer stage, aan het begin van maart 2020, en heb toen in april een bedrijf gevonden waar ik mijn afstudeerstage bij zal gaan lopen. Maar dit was niet in 1 keer gelukt. 
    Zoals ik al zei ben ik begonnen met zoeken in het begin van maart 2020, dit deed ik op LinkedIn door, met hulp van een recruiter die ik daar had ontmoet, een bericht te plaatsen en die door een paar recruiters te laten delen zodat ik er aardig wat bereik mee kreeg. Hierdoor werd ik benaderd door meer recruiters en geintereseerde bedrijven. Hieruit heb ik met een paar van de bedrijven een kennismakings gesprek gehad en daarna voor een paar zelfs een opdracht moeten maken, wat allemaal wat moeilijker ging door de COVID pandemie die toen net op gang kwam. De bedrijven waarmee ik een gesprek heb gehad zijn Maatwerk Online, Milgro ICT, Agium, AMIS en Metrohm Applikon. Dit waren niet de enige bedrijven die mij hadden benaderd maar dit waren de bedrijven die aan mijn eisen voldeden.


    <h2>Maatwerk Online</h2>

    Maatwerk Online is een online marketing bedrijf in het hartje van Rotterdam dat voor hun klanten met diverse testen de websites van hun klanten om deze altijd te blijven verbeteren. Ze zouden me als part time developer totdat ik zou beginnen aan mijn stage maar na een kennismakings gesprek en een opdracht hebben ze mij uiteindelijk nooit meer een bericht terug gestuurd. Dit was waarschijnlijk door de COVID pandemie, omdat Nick Heurter meerdere malen aangaf dat ze daar moeite mee hadden op het moment, maar omdat er bij maatwerk online voornamelijk gebruik gemaakt wordt van PHP en Wordpress, beide technieken die ik wel beheers maar waar ik uiteindelijk niet veel interesse in heb, vond ik het uiteindelijk niet erg jammer dat ze mij geen bericht terug hadden gegeven. 

    Nick Heurter van Maatwerk Online benaderde op 9 maart met het voorstel om een gesprek te houden via de telefoon en dat verloop toen ook erg soepel. Hij vroeg me in dat gesprek of ik bereid was om een opdracht te doen waarin ik op de test omgeving van een klant van ze wat aanpassingen zou moeten doen om te kijken hoe mijn ervaring met PHP en Wordpress was. Ook moest ik opnemen hoe ik deze opdrachten voltooide en deze dan opsturen. De opdrachten zelf waren voor mij niet al te moeilijk maar ik moest wel meerdere keren wat dingen opzoeken omdat het een tijd geleden was dat ik PHP en Wordpress gebruikt had. Nadat ik de opdracht af had en had opgestuurd wilde Nick graag nog een gesprek houden maar dit keer via teams en die hebben we toen op 23 maart gehouden, in dit gesprek zei Nick dat hij vond dat ik de opdracht goed had voltooid en dat hij ging kijken hoe het zou werken met de pandemie maar hierop is hij nooit teruggekomen. Achteraf heb ik wel gedacht dat ik eigenlijk zelf wel had kunnen vragen om antwoorden maar omdat ik toen al weer nieuwe gespreken had opgezet was ik wel even mijn interesse kwijt voor Maatwerk Online.

    <h2>Milgro ICT</h2>

    Milgro ICT is een digitaal aval- en grondstoffenmanagement bedrijf aan de pittsburghstraat in Rotterdam dat software bouwt in de circulaire economie, ze proberen om duurzaamheid zo winstgevend te maken voor bedrijven. Als ik aangenomen zou worden zou ik een junior developer worden bij Milgro en zou ik dan kunnen kijken wat ik daar zou kunnen doen als afstudeerder. Bij Milgro was het niet erg duidelijk wat ik zou doen voor mijn afstudeerstage als ik aangenomen zou worden. Ze werkte voornamelijk in C# waar ik redelijk behendig in ben maar wel wat oefening in mis, ook was de sfeer op Milgro erg leuk en de mensen erg aardig.

    Ik werd door Veronica Spaans benaderd op 6 maart om op donderdag 12 maart een kennismakings gesprek te houden in hun kantoor in Rotterdam en is zonder enige moeite verlopen. Nadat ik dit gesprek had gehad heb ik nog even met de haar en wat van de developers daar gepraat en ben toen naar huis gegaan. Dezelfde dag kreeg ik nog bericht van Veronica dat ze het hadden besproken en dat eruit was gekomen dat ze dachten dat het te lang zou duren om mij ingewerkt te krijgen vanwegen hun complexe omgeving en dat ze niet de tijd hadden om mij zolang te begeleiden vanwegen hun kleine team. Ik vond het zelf erg jammer want Milgro ICT leek mij een leuk bedrijf met een gaaf product waar ik veel van zou kunnen leren.aan

    <h2>Agium</h2> 

    Agium is normaal gesproken een detacherings bedrijf maar ik werd benaderd voor een ander onderdeel van hun bedrijf. Namelijk het onderdeel waar zij werken aan robotic processing, het automatiseren van administratieve processen. Toen het werd uitgelegd leek het me allemaal erg interessant maar ik wist nooit helemaal zeker hoeveel het te maken zou hebben met mijn studie waardoor het moeilijk was om te beslissen of ik met dit bedrijf verder zou willen gaan. Toen ik benaderd werd door dit bedrijf was er wel sprake van Python en VBA.Net waardoor ik het wel zag als een optie.

    Wim Verheij benaderde me op 5 maart met het verzoek hem te bellen, ik deed dat ook gelijk want dat was rond de tijd dat ik mijn bericht net had geplaatst. Dit gesprek ging erg goed en ik werd uitgenodigd voor een gesprek op hun kantoor in Delft waar ik toen een paar dagen later ben geweest. Hier had ik een gesprek met Wim en de eigenaar van Agium waarin we hebben gesproken over de positie die ze aanboden en de mogelijkheid tot een afstudeer stage. Uiteindelijk kwam hier voor mij in ieder geval uit dat dit bedrijf mij niet een duidelijke stage opdracht zou kunnen bieden maar uiteindelijk hoefde ik dit niet eens aan hun uit te leggen omdat ik van dit bedrijf nooit meer wat vernomen heb.

    

</div>