@page "/afstuderen"

<div class="text-div">
    <h1>Afstudeerstage</h1>

    Ik ben al redelijk vroeg begonnen met het zoeken naar een afstudeer stage, aan het begin van maart 2020, en heb toen in april een bedrijf gevonden waar ik mijn afstudeerstage bij zal gaan lopen. Maar dit was niet in 1 keer gelukt. 
    Zoals ik al zei ben ik begonnen met zoeken in het begin van maart 2020, dit deed ik op LinkedIn door, met hulp van een recruiter die ik daar had ontmoet, een bericht te plaatsen en die door een paar recruiters te laten delen zodat ik er aardig wat bereik mee kreeg. Hierdoor werd ik benaderd door meer recruiters en geintereseerde bedrijven. Hieruit heb ik met een paar van de bedrijven een kennismakings gesprek gehad en daarna voor een paar zelfs een opdracht moeten maken, wat allemaal wat moeilijker ging door de COVID pandemie die toen net op gang kwam. De bedrijven waarmee ik een gesprek heb gehad zijn Maatwerk Online, Milgro ICT, Agium, AMIS en Metrohm Applikon. Dit waren niet de enige bedrijven die mij hadden benaderd maar dit waren de bedrijven die aan mijn eisen voldeden.


    <h2>Maatwerk Online</h2>

    Maatwerk Online is een online marketing bedrijf in het hartje van Rotterdam dat voor hun klanten met diverse testen de websites van hun klanten om deze altijd te blijven verbeteren. Ze zouden me als part time developer totdat ik zou beginnen aan mijn stage maar na een kennismakings gesprek en een opdracht hebben ze mij uiteindelijk nooit meer een bericht terug gestuurd. Dit was waarschijnlijk door de COVID pandemie, omdat Nick Heurter meerdere malen aangaf dat ze daar moeite mee hadden op het moment, maar omdat er bij maatwerk online voornamelijk gebruik gemaakt wordt van PHP en Wordpress, beide technieken die ik wel beheers maar waar ik uiteindelijk niet veel interesse in heb, vond ik het uiteindelijk niet erg jammer dat ze mij geen bericht terug hadden gegeven. 

    Nick Heurter van Maatwerk Online benaderde op 9 maart met het voorstel om een gesprek te houden via de telefoon en dat verloop toen ook erg soepel. Hij vroeg me in dat gesprek of ik bereid was om een opdracht te doen waarin ik op de test omgeving van een klant van ze wat aanpassingen zou moeten doen om te kijken hoe mijn ervaring met PHP en Wordpress was. Ook moest ik opnemen hoe ik deze opdrachten voltooide en deze dan opsturen. De opdrachten zelf waren voor mij niet al te moeilijk maar ik moest wel meerdere keren wat dingen opzoeken omdat het een tijd geleden was dat ik PHP en Wordpress gebruikt had. Nadat ik de opdracht af had en had opgestuurd wilde Nick graag nog een gesprek houden maar dit keer via teams en die hebben we toen op 23 maart gehouden, in dit gesprek zei Nick dat hij vond dat ik de opdracht goed had voltooid en dat hij ging kijken hoe het zou werken met de pandemie maar hierop is hij nooit teruggekomen. Achteraf heb ik wel gedacht dat ik eigenlijk zelf wel had kunnen vragen om antwoorden maar omdat ik toen al weer nieuwe gespreken had opgezet was ik wel even mijn interesse kwijt voor Maatwerk Online.

    

</div>