@page "/"

<h1>About me!</h1>

Ik ben Daan van Rossen, 4de jaar Student Informatica op de Hogeschool Rotterdam. Nadat ik in 2014 mijn HAVO had afgerond heb ik een jaar lang de studie Werktuigbouwkunde gevolgd maar nadat het duidelijk was voor me dat ik deze studie toch wat minder leuk vond dan dat deze eerst leek ben ik er mee gestopt in begin 2015. Nadat ik hiermee gestopt ben heb ik me ingeschreven voor de studie Informatica het volgende jaar.

Ik ben op het moment niet een van de snelste leerlingen maar ik ben toch redelijk op weg om mijn diploma te behalen, na een paar extra jaar. Ik heb ondertussen wel al wat werkervaring opgedaan bij verschillende bedrijven die wel gerelateerd zijn aan het werkgebied van een software engineer. Ik ben een tijdje een tester geweest bij Adaption en heb hier Selenium testcases geschreven voor hun applicatie en ben op het moment ingehuurd bij Metrohm Applikon als een junior Software Engineer.

