@page "/projecten"

<div class="text-div">
    <h1>Projecten</h1>

    <h2>Project 1 – Bordspel</h2>
    
    <p>
        In het eerste project hebben we een fysiek bordspel gemaakt, het spel dat we uiteindelijk gemaakt hebben was een mix van ganzenborden en mens erger je niet. Omdat dit het eerste project was van de opleiding was en we toen nog niet echt gecodeerd hadden bevatten dit project geen coderen en was het meer om ons te laten werken met SCRUM. Ook moesten we analyse vakken in de praktijk gebruiken hiervoor.
    </p>
    <p>
        Ik vond zelf dat dit project het makkelijkste was omdat we voornamelijk met fysieke objecten werkte in plaats van dat we alles zelf van de grond op moesten bouwen.
    </p>

    <h2>Project 2 - Video Game</h2>

    We hebben in dit project een bordspel dat in het vorige project gemaakt is, gemaakt in als een video game. Omdat we in dit project opeens moesten gaan coderen op een professionele wijze is het project moeilijk begonnen. We hadden tijdens het project moeite met het onderhouden van een GitHub pagina waardoor we weinig documentatie hadden aan het einde van het project. Ondanks dit probleem hebben we het project zonder andere problemen afgekregen. De code die we ingeleverd hadden was wel erg slordig en niet geordend.


    <h2>Project 3 - Database</h2>
    Github: <a href="https://github.com/INFPRJ03-group3/project-3-Database">https://github.com/INFPRJ03-group3/project-3-Database</a>

    In dit project hebben we een database gemaakt en met Java code gekoppeld, dit project was best leuk maar ook erg moeilijk. Doordat we aan het begin van dit project niet voorbereid waren was het erg moeilijk om te beginnen maar uiteindelijk hebben we het goed tot een einde kunnen brengen.


    <h2>Project 4 - Android</h2>
    Github: <a href="https://github.com/INF1I-Project-4/Project-4">https://github.com/INF1I-Project-4/Project-4</a>  

    In dit project hebben we een Android app moeten maken door het toepassen van project 3 in een app. Dit Project  hebben we net afgekregen en was erg moeilijk om op tijd te doen mede doordat we nog niet wisten hoe we een app moesten maken. Uiteindelijk hebben we het wel afgekregen en hebben we het een mooi product afgeleverd.


    <h2>Project 5 - Web Winkel</h2>
    Github: <a href="https://github.com/Dyllaann/INFPRJ5">https://github.com/Dyllaann/INFPRJ5</a>

    Dit project was het eerste Project dat meerdere periodes duurde, en ook het eerste project waarin we problemen kregen met medestudenten in mijn projectgroep, er was een groepslid dat minder werk verrichte en na meerdere waarschuwingen niet meer inspanning verrichte. Hij is toen voordat we hem uit de projectgroep uit konden zetten gestopt met het project.

    Na deze tegenslag hebben we toch na veel hard werk het project goed weten af te ronden met een goed werkende webshop.


    <h2>Project 6 – Emerging Technologies</h2>

    Voor het project Emerging Technologies heb ik gebruik gemaakt van de Microsoft Cognitive Services, wat een library is van Microsoft die het makkelijker maakt om image recognition te implementeren in je applicatie. We hebben deze in dit project gebruikt om een applicatie te maken die gebruikt kan worden om post labels in te lezen en deze dan kan door sturen naar een volgende applicatie. De applicatie kon geprinte tekst lezen, handgeschreven tekst en herkende adresgegevens door middel van regular expressions. Het is wat wij dachten dat de applicatie die PostNL zou gebruiken eruit zou zien.


    <h2>Stage</h2>

    In de eerste en tweede periode van het derde jaar heb ik stagegelopen bij VoipQ in Gouda en daar voornamelijk gewerkt aan hun interne applicatie. VoipQ is een telefoniebedrijf zoals bijvoorbeeld KPN maar dan voor de zakelijke markt. 
    Ik heb bij VoipQ voornamelijk gebruik gemaakt van Java en een beetje HTML, twee talen waar hiervoor al kennis mee had gemaakt. Ook heb ik meerdere presentaties moeten doen op mijn stage, waarvan 1 voor een aantal eerste jaar studenten die op bezoek kwamen. 
    Nadat ik een half jaar stage had gelopen moest ik mijn eindpresentatie houden voor mijn stagedocent en bedrijfsbegeleider. Omdat ik niet geweldig ben in presentaties ging het moeilijk maar door de presentatie goed uit mijn hoofd te leren heb ik het uiteindelijk toch tot een goed einde gebracht en heb ik mijn stage afgesloten met een 7.7.

    <h2>Minor AI</h2>

    Dit is het onderdeel van de opleiding waarop ik op het moment mee bezig ben, er zijn meerdere tegenslagen geweest, onder andere een leraar die zonder enige communicatie gestopt was met lesgeven op de hogeschool en een leraar die daarna niet goed bezig was met communiceren naar ons. Maar ondanks deze tegenslagen gaat het op het moment redelijk goed. We hebben voor de projecten in de eerste periode van deze minor gewerkt met Roel en veel met tensorflow getest, hoe deze het snelste aangeroepen kan worden (in R of Python) en hoe in tensorflow bepaalde calculaties gedaan worden. Nadat Roel gestopt was met lesgeven zijn we begonnen aan een nieuw project, het lezen van het sentiment van tweets. We begonnen met een simpel model dat positieven en negatieven waardes aan specifieke woorden gaf en hebben het uiteindelijk uitgebouwd naar een model dat rekening houd met context en synoniemen kan herkennen.
</div>
